/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

html, body {
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}

hr {
	width: 50%;
	margin: 0;
	padding: 0;
}

.fullCol {
	background: white;
	display: inline-block;
	overflow:hidden;
	height: 350px;
	width: 100%;
	border-radius: 15px;
	/*box-shadow: 10px 10px 5px #888888;*/
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.halfCol {
	background: white;
	display: inline-block;
	overflow:hidden;
	height: 250px;
	width: 48%;
	border-radius: 15px;
	/*box-shadow: 10px 10px 5px #888888;*/
	margin-right: 20px;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.halfCol2 {
	background: white;
	display: inline-block;
	overflow:hidden;
	height: 250px;
	width: 49%;
	border-radius: 15px;
	/*box-shadow: 10px 10px 5px #888888;*/
	margin-right: 0px;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.thirdCol {
	/*background: silver;*/
	display: inline-block;
	overflow: hidden;
	height: 525px;
	width: 100%;
	/*border-radius: 15px;*/
	/*box-shadow: 10px 10px 5px #888888;*/
	margin-right: 15px;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.edu {
	/*background: lightblue;*/
	display: inline-block;
	overflow:hidden;
	height: 270px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 15px;
	/*box-shadow: 10px 10px 5px #888888;*/
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

#menu-icon {
	display: hidden;
	margin-top: 5px;
	float: right;
	width: 40px;
	height: 40px;
	background: #444 url(../img/menu-icon.png) center;
}

a:hover#menu-icon {
	background-color: #18DD9C;
	border-radius: 4px 4px 0 0;
}

.navbar-custom {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}

.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18DD9C;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18DD9C;
}
/*.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,*/
/*.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18DD9C;
}*/
/*.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}*/
/*.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18DD9C;
  color: white;
  border-color: #18DD9C;
}*/

/*@media only screen and (max-width:480px) {
}
*/

.title {
	background-image: url("http://i.imgur.com/xtcghTT.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 760px;
	line-height: 760px;
    text-align: center;
    z-index: -1;
    position: relative;
}


.intro {
	/*background-image: url("http://wallpapercave.com/wp/bGtUe1Y.jpg");*/
	background-color: #ff8080;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 1150px;
	z-index: -1;
	position: relative;
	padding-top: 125px;
}

.experience {
	/*background-image: url("http://wallpapercave.com/wp/6k4zvSp.jpg");*/
	/*background-color: #dd99ff;*/
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 1300px;
	z-index: -1;
	position: relative;
	padding-top: 125px;
}

.education {
	/*background-image: url("http://wallpapercave.com/wp/BQ6IevO.jpg");*/
	/*background-color: #00ff00;*/
	background-color: #ff8080;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 650px;
	z-index: -1;
	position: relative;
	padding-top: 125px;
}

.hobbies {
	/*background-image: url("http://wallpapercave.com/wp/CLTI5X7.jpg");*/
	/*background-color: #4dffff;*/
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 975px;
	z-index: -1;
	position: relative;
	padding-top: 125px;
}

.contact {
	/*background-image: url("http://wallpapercave.com/wp/NjGx9YN.jpg");*/
	/*background-color: #ffff80;*/
	background-color: #ff8080;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 580px;
	z-index: -1;
	position: absolute;
	padding-top: 125px;
}

.tangerine {
	font-family: 'Tangerine', serif;
    font-size: 128px;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  	height: 200px;
}

.img-container-hobbies {
	width: 100%;
	height: 240px;
	display: inline-block;
	overflow: hidden;
}

.shadowsIntoLight {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
}

.gloriaHallelujah {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 42px;
}

.comingSoon {
	font-family: 'Coming Soon', cursive;
	font-size: 20px;
}


div.slide-left {
  /*width:100%;*/
  overflow:hidden;
}
div.slide-left p {
  animation: slide-left 5s;
  /*margin-left: 0%;*/
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

div.slide-right {
  width:100%;
  overflow:hidden;
}
div.slide-right p {
  animation: 10s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: #2C3E50;
}
hr.star-light:after {
  background-color: #ff8080;
  color: #2C3E50;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
