body {
	margin: 0;
}

hr {
	width: 50%;
	margin: 0;
	padding: 0;
}

.header {
	background-image: url("https://4.bp.blogspot.com/-KXSsLVKT7pY/UoszPzBUhkI/AAAAAAAAV6w/LnSQh4nr9F4/s0/Sunset-at-Rio-de-Janeiro_ultra_HD.jpg");
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 760px;
	z-index: -1;
	position: relative;
	background-repeat: no-repeat;

	@media (max-width: @iphone-screen) { background-attachment: scroll; }
}

.fullCol {
	background: white;
	display: inline-block;
	overflow:hidden;
	height: 350px;
	width: 100%;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.halfCol {
	background: white;
	display: inline-block;
	overflow:hidden;
	height: 250px;
	width: 48%;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	margin-right: 20px;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.halfCol2 {
	background: white;
	display: inline-block;
	overflow:hidden;
	height: 250px;
	width: 49%;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	margin-right: 0px;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.thirdCol {
	background: silver;
	display: inline-block;
	overflow: hidden;
	height: 525px;
	width: 100%;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	margin-right: 15px;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.edu {
	background: lightblue;
	display: inline-block;
	overflow:hidden;
	height: 270px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

nav.page-navigation {
	background-color: #333;
	width: 100%;
	position: fixed;
}

ul {
	z-index: 100;
	width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    /*background-color: transparent;*/
    /*background: transparent;*/
    /*border-color: transparent;*/
}

li a:hover {
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.title {
	background-image: url("http://cdn.wallpapersafari.com/8/16/5nFzER.jpg");
	background-size: 100%;
	width: 100%;
	height: 760px;
	line-height: 760px;
    text-align: center;
    z-index: -1;
    position: relative;
}

.intro {
	margin-top: 0;
	/*background-image: url("http://cdn.bigbangfish.com/beautiful/beautiful-sunset/beautiful-sunset-7.jpg");*/
	/*background-color: #0099ff;*/
	background-color: #ff8080;
	width: 100%;
	height: 950px;
	z-index: -1;
	position: relative;
	padding-top: 35px;
}

.experience {
	background-color: #dd99ff;
	width: 100%;
	height: 830px;
	z-index: -1;
	position: relative;
	padding-top: 35px;
}

.education {
	background-color: #00ff00;
	width: 100%;
	height: 480px;
	z-index: -1;
	position: relative;
	padding-top: 35px;
}

.hobbies {
	background-color: #4dffff;
	width: 100%;
	height: 1000px;
	z-index: -1;
	position: relative;
	padding-top: 35px;
}

.contact {
	background-color: #ffff80;
	width: 100%;
	height: 480px;
	z-index: -1;
	position: relative;
	padding-top: 35px;
}

.tangerine {
	font-family: 'Tangerine', serif;
    font-size: 128px;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  	height: 200px;
}

.lobster {
	font-family: 'Lobster', cursive;
	font-size: 64px;
}

.shadowsIntoLight {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
}

.gloriaHallelujah {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 56px;
}

.indieFlower {
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	text-align: left;
}

.comingSoon {
	font-family: 'Coming Soon', cursive;
	font-size: 20px;
}

.dancingScript {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
}

.unkempt {
	font-family: 'Unkempt', cursive;
	font-size: 20px;
}
