html, body {
	width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

hr {
	width: 50%;
	margin: 0;
	padding: 0;
}

.fullCol {
	background: white;
	display: inline-block;
	overflow:hidden;
	/*height: 350px;*/
	width: 100%;
	height: 100%;
	border-radius: 15px;
	/*box-shadow: 10px 10px 5px #888888;*/
	word-wrap: break-word;
	z-index: -1;
	position: relative;
}

.thirdCol {
	/*background: silver;*/
	display: inline-block;
	overflow: hidden;
	height: 100%;
	width: 100%;
	/*border-radius: 15px;*/
	/*box-shadow: 10px 10px 5px #888888;*/
	/*margin-right: 15px;*/
	word-wrap: break-word;
	z-index: -1;
	position: relative;
	padding-bottom: 50px;
}

.navbar-custom {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}

.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18DD9C;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18DD9C;
}


.title {
    background-image: url("../img/Title.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	line-height: 760px;
    text-align: center;
    z-index: -1;
    position: relative;
}


.intro {
	/*background-image: url("http://wallpapercave.com/wp/bGtUe1Y.jpg");*/
	background-color: #ff8080;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	padding-bottom: 150px;
	z-index: -1;
	position: relative;
	padding-top: 100px;
}

.experience {
	/*background-image: url("http://wallpapercave.com/wp/6k4zvSp.jpg");*/
	/*background-color: #dd99ff;*/
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	/*height: 1400px;*/
	height: 100%;
	position: fixed;
	padding-bottom: 150px;
	z-index: -1;
	position: relative;
	padding-top: 100px;
}

.education {
	/*background-image: url("http://wallpapercave.com/wp/BQ6IevO.jpg");*/
	/*background-color: #00ff00;*/
	background-color: #ff8080;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	padding-bottom: 150px;
	z-index: -1;
	position: relative;
	padding-top: 100px;
}

.hobbies {
	/*background-image: url("http://wallpapercave.com/wp/CLTI5X7.jpg");*/
	/*background-color: #4dffff;*/
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	padding-bottom: 150px;
	z-index: -1;
	position: relative;
	padding-top: 100px;
}

.contact {
	/*background-image: url("http://wallpapercave.com/wp/NjGx9YN.jpg");*/
	/*background-color: #ffff80;*/
	background-color: #ff8080;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	padding-bottom: 150px;
	z-index: -1;
	position: absolute;
	padding-top: 100px;
}

@media all and (max-width:900px), (max-device-width:900px){
	.title {
		background-image: url('../img/Title.jpg');
	}
}

.tangerine {
	font-family: 'Tangerine', serif;
    font-size: 128px;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  	height: 200px;
}

.img-container-hobbies {
	width: 100%;
	height: 240px;
	display: inline-block;
	overflow: hidden;
}

.shadowsIntoLight {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
}

.gloriaHallelujah {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 42px;
}

.comingSoon {
	font-family: 'Coming Soon', cursive;
	font-size: 20px;
}


div.slide-left {
  text-align: center;
  overflow:hidden;
}
div.slide-left p {
  animation: slide-left 5s;
  /*margin-left: 0%;*/
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

div.slide-right {
  width:100%;
  overflow:hidden;
}
div.slide-right p {
  animation: 10s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: #2C3E50;
}
hr.star-light:after {
  background-color: #ff8080;
  color: #2C3E50;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
